<form class="form-horizontal" name="productForm" novalidate>
    <fieldset>
        <legend>Basic Product Information</legend>
        <div class="form-group"
             ng-class="{'has-error':productForm.inputProductName.$invalid && productForm.inputProductName.$dirty}">
            <label class="col-sm-2 control-label" for="inputProductName">Product Name</label>

            <div class="col-sm-4">
                <input class="form-control" ng-model="vm.product.productName" id="inputProductName"
                       name="inputProductName" type="text"
                       placeholder="Product Name (required)" ng-minlength="3" ng-maxlength="6" required/>
            </div>
            <span class="help-block has-error">
                <span ng-messages="productForm.inputProductName.$error">
                    <span ng-message="required">Product name is required</span>
                    <span ng-message="minlength">Product name must be at least 3 characters</span>
                    <span ng-message="maxlength">Product name cannot exceed 6 characters</span>
                </span>
            </span>
        </div>
        <div class="form-group"
             ng-class="{'has-error':productForm.inputProductCode.$invalid && productForm.inputProductCode.$dirty}">
            <label class="col-sm-2 control-label" for="inputProductCode">Product Code</label>

            <div class="col-sm-4">
                <input class="form-control" ng-model="vm.product.productCode" id="inputProductCode"
                       name="inputProductCode" type="text"
                       ui-mask="AAA-**** (required)" required/>
            </div>
            <span class="help-block has-error" ng-show="productForm.inputProductCode.$invalid">
                Product code is required
            </span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputAvailabilityDate">Availability</label>

            <div class="col-sm-4">
                <div class="input-group">
                    <input id="inputAvailabilityDate" class="form-control" datepicker-popup="MMM dd, yyyy"
                           is-open="vm.opened"
                           ng-model="vm.product.releaseDate" type="text"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="vm.open($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputDescription">Description</label>

            <div class="col-sm-10">
                <textarea class="form-control" ng-model="vm.product.description" id="inputDescription" rows="3"
                          placeholder="Product Description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <span>
                    <button ng-disabled="productForm.$invalid" ng-click="vm.submit()" class="btn btn-primary">Save</button>
                </span>
                <span>
                    <button ng-click="vm.cancel()" class="btn btn-default">Cancel</button>
                </span>
            </div>
        </div>
    </fieldset>
</form>
